



.text1{
position: absolute;
left: 300px;
font-size: 50px;
top: 130px;
}

.text2{
position: absolute;
left: 580px;
font-size: 50px;
top: 130px;
}

.text3{
position: absolute;
left: 365px;
font-size: 50px;
top: 130px;
}

.text4{
position: absolute;
left: 500px;
font-size: 50px;
top: 120px;
}
    

.image1{
    position: absolute;
    top: 250px;
}

.image2{
    position: absolute;
    top: 180px;
    left: 1050px;
}

.dom{
    height: 600px;
}

.image3{
    position: absolute;
    top: 225px;
    
}

.stop{
height: 600px;
}

.image4{
    position: absolute;
    top: 202px;
    left: 1050px;
}

.myButton1{
    position: relative;
    top: 300px; 
    left: 800px;
    width: 220px;
    height: 70px;
    text-align: center;
    background-color:#90b89a;
	border-radius:32px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:3px 3px 2px #2e382d;
    transition-duration: 0.5s;
    
}

.myButton1:hover {
	background-color:#70786c;
    top: 280px;
}

.buttontext{
    font-size: 110%;
}

.myButton2{
    position: relative;
    top: 350px; 
    left: 250px;
    width: 220px;
    height: 70px;
    text-align: center;
    background-color:#90b89a;
	border-radius:32px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:3px 3px 2px #2e382d;
    transition-duration: 0.5s;
    
}

.myButton2:hover {
	background-color:#70786c;
    top: 330px;
}


.myButton3{
    position: relative;
    top: 370px; 
    left: 850px;
    width: 220px;
    height: 70px;
    text-align: center;
    background-color:#90b89a;
	border-radius:32px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:3px 3px 2px #2e382d;
    transition-duration: 0.5s;
    
}

.myButton3:hover {
	background-color:#70786c;
    top: 350px;
}


.myButton4{
    position: relative;
    top: 380px; 
    left: 300px;
    width: 220px;
    height: 70px;
    text-align: center;
    background-color:#90b89a;
	border-radius:32px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:25px;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:3px 3px 2px #2e382d;
    transition-duration: 0.5s;
    
}

.myButton4:hover {
	background-color:#70786c;
    top: 360px;
}

/* Video background */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }